<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloudTap_0002</key>
            <dict>
                <key>frame</key>
                <string>{{1122,656},{621,448}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,256},{621,448}}</string>
                <key>sourceSize</key>
                <string>{1093,1024}</string>
            </dict>
            <key>cloudTap_0003</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{837,652}}</string>
                <key>offset</key>
                <string>{20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,166},{837,652}}</string>
                <key>sourceSize</key>
                <string>{1093,1024}</string>
            </dict>
            <key>cloudTap_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{961,852}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,72},{961,852}}</string>
                <key>sourceSize</key>
                <string>{1093,1024}</string>
            </dict>
            <key>cloudTap_0008</key>
            <dict>
                <key>frame</key>
                <string>{{965,1124},{703,1014}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,0},{703,1014}}</string>
                <key>sourceSize</key>
                <string>{1093,1024}</string>
            </dict>
            <key>obstacleBase</key>
            <dict>
                <key>frame</key>
                <string>{{1961,2},{239,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,64}}</string>
                <key>sourceSize</key>
                <string>{239,64}</string>
            </dict>
            <key>obstacleTopDown</key>
            <dict>
                <key>frame</key>
                <string>{{965,1829},{239,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,144}}</string>
                <key>sourceSize</key>
                <string>{239,144}</string>
            </dict>
            <key>obstacleTopUp</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1829},{239,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,144}}</string>
                <key>sourceSize</key>
                <string>{239,144}</string>
            </dict>
            <key>recordRays</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1118,1120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1118,1120}}</string>
                <key>sourceSize</key>
                <string>{1120,1120}</string>
            </dict>
            <key>tony_0001</key>
            <dict>
                <key>frame</key>
                <string>{{1745,824},{172,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{172,174}}</string>
                <key>sourceSize</key>
                <string>{194,174}</string>
            </dict>
            <key>tony_0002</key>
            <dict>
                <key>frame</key>
                <string>{{1745,656},{182,166}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{182,166}}</string>
                <key>sourceSize</key>
                <string>{194,174}</string>
            </dict>
            <key>tony_0003</key>
            <dict>
                <key>frame</key>
                <string>{{1639,1829},{184,126}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{184,126}}</string>
                <key>sourceSize</key>
                <string>{194,174}</string>
            </dict>
            <key>tony_0004</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1829},{190,132}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{194,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameAtlas0.png</string>
            <key>size</key>
            <string>{2029,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e90019b2ff827fc3e1bf6ee948f966b:44601c091d870773ba8becef782c9d42:de35662b38e1104952d530c94fe4ac3b$</string>
            <key>textureFileName</key>
            <string>GameAtlas0.png</string>
        </dict>
    </dict>
</plist>
