<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud</key>
            <dict>
                <key>frame</key>
                <string>{{1623,738},{305,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,150}}</string>
                <key>sourceSize</key>
                <string>{305,150}</string>
            </dict>
            <key>cloudTap_0002</key>
            <dict>
                <key>frame</key>
                <string>{{1623,512},{311,224}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,128},{311,224}}</string>
                <key>sourceSize</key>
                <string>{547,512}</string>
            </dict>
            <key>cloudTap_0003</key>
            <dict>
                <key>frame</key>
                <string>{{485,564},{419,326}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,83},{419,326}}</string>
                <key>sourceSize</key>
                <string>{547,512}</string>
            </dict>
            <key>cloudTap_0004</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{481,426}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,36},{481,426}}</string>
                <key>sourceSize</key>
                <string>{547,512}</string>
            </dict>
            <key>cloudTap_0005</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{521,474}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{521,474}}</string>
                <key>sourceSize</key>
                <string>{547,512}</string>
            </dict>
            <key>cloudTap_0006</key>
            <dict>
                <key>frame</key>
                <string>{{813,525},{505,466}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{505,466}}</string>
                <key>sourceSize</key>
                <string>{547,512}</string>
            </dict>
            <key>cloudTap_0007</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{513,500}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{513,500}}</string>
                <key>sourceSize</key>
                <string>{547,512}</string>
            </dict>
            <key>cloudTap_0008</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{353,508}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{353,508}}</string>
                <key>sourceSize</key>
                <string>{547,512}</string>
            </dict>
            <key>cloudTap_0009</key>
            <dict>
                <key>frame</key>
                <string>{{1320,517},{301,502}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,1},{301,502}}</string>
                <key>sourceSize</key>
                <string>{547,512}</string>
            </dict>
            <key>obstacleBase</key>
            <dict>
                <key>frame</key>
                <string>{{485,985},{120,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,32}}</string>
                <key>sourceSize</key>
                <string>{120,32}</string>
            </dict>
            <key>obstacleTopDown</key>
            <dict>
                <key>frame</key>
                <string>{{1895,2},{120,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>obstacleTopUp</key>
            <dict>
                <key>frame</key>
                <string>{{1895,124},{120,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,66}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
            <key>recordRays</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,560}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{558,560}}</string>
                <key>sourceSize</key>
                <string>{560,560}</string>
            </dict>
            <key>tony_0001</key>
            <dict>
                <key>frame</key>
                <string>{{1777,890},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>tony_0002</key>
            <dict>
                <key>frame</key>
                <string>{{1692,890},{91,83}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,83}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>tony_0003</key>
            <dict>
                <key>frame</key>
                <string>{{1895,246},{93,65}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,65}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>tony_0004</key>
            <dict>
                <key>frame</key>
                <string>{{1623,890},{95,67}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,67}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameAtlas0.png</string>
            <key>size</key>
            <string>{1963,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e90019b2ff827fc3e1bf6ee948f966b:44601c091d870773ba8becef782c9d42:de35662b38e1104952d530c94fe4ac3b$</string>
            <key>textureFileName</key>
            <string>GameAtlas0.png</string>
        </dict>
    </dict>
</plist>
